@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    outline: 2px dotted orange;
    outline-offset: 2px;
}
.hide {
    opacity: 0;
    top: -330px;
    transition: opacity .3s ease, top .25s ease;
}
.show {
    opacity: 100;
    top: 112px;
    transition: opacity .3s ease, top .3s ease;
}

@layer components {
    .figure {
        @apply bg-center bg-no-repeat aspect-square bg-cover
    }
    .text-section {
        @apply aspect-square text-center flex flex-col gap-8 py-16 px-6 text-desatBlueFEM md:py-8 md:px-16 xmd:py-16 xmd:px-24
    }
    .figure-text {
        @apply flex flex-col justify-end bg-center bg-no-repeat aspect-[3/5] bg-cover md:aspect-square
    }

}