@tailwind base;
@tailwind components;
@tailwind utilities;

.hide {
    visibility: hidden;
    opacity: 0;
}
.show {
    visibility: visible;
    opacity: 100;
    left: 0;
    right: 0;
    margin: auto;
    transition: opacity .3s ease;
}

@layer components {
    .figure {
        @apply bg-center bg-no-repeat aspect-square bg-cover
    }
    .text-section {
        @apply aspect-square text-center flex flex-col gap-8 py-16 px-6 text-desatBlueFEM 
    }
    .figure-text {
        @apply flex flex-col justify-end bg-center bg-no-repeat aspect-[3/5] bg-cover md:aspect-square
    }

}